*.bin
*.cfg
*.soc
*.tmp

*.vmat_c
*.vagrp_c
*.vmesh_c


game/*
# ignore all addons everything except poelsemix
game/dota_addons/*
!game/dota_addons/poelsemix/

content/dota_addons/*
!content/dota_addons/poelsemix/

# ignore the big script files since we use modmanager
game/dota_addons/poelsemix/scripts/npc/npc_abilities_custom.txt
game/dota_addons/poelsemix/scripts/npc/npc_heroes_custom.txt
game/dota_addons/poelsemix/scripts/npc/npc_units_custom.txt
game/dota_addons/poelsemix/scripts/npc/npc_items_custom.txt

# some random stuff and binaries we dont want
content/_toolsautosave
d2mod
game/_toolsettings/
game/dota_addons/poelsemix/tools_asset_info.bin
steam_appid.txt
game/dota_addons/poelsemix/tools_thumbnail_cache.bin
game/dota_addons/poelsemix/maps/forest_solo.vpk
game/dota_addons/poelsemix/tools_asset_info.bin
game/dota_addons/poelsemix/maps/forest_solo.vpk

content/dota_addons/poelsemix/materials/models/courier/lockjaw/lockjaw_normal.psd
content/dota_addons/poelsemix/materials/models/courier/lockjaw/lockjaw_color.psd
content/dota_addons/poelsemix/materials/models/props_structures/midas_throne/midas_throne_backplate_radiant_specexp.psd

content/core
content/dota
game/bin
game/core
game/dota

.vscode

