/game/dota_russian/

steam_appid.txt

game/dota_addons/rpg_example/

game/dota_addons/test1234/

game/dota_addons/tutorial_assist_game/

game/dota_addons/tutorial_basics/

game/dota_addons/ui_example/

game/dota_addons/workshop_testbed/

game/dota_koreana/

game/dota_lv/

game/dota_schinese/

game/thirdpartylegalnotices.txt

game/dota_addons/poelsemix1/

game/dota_addons/poelsemix2/

game/dota_addons/addon_template/
game/dota_addons/adventure_example/
game/dota_addons/cavern/
game/dota_addons/danskpoelse/
game/dota_addons/dota2cfg.cfg
game/dota_addons/dungeon/
game/dota_addons/frostivus_2017/
game/dota_addons/hero_demo/
game/dota_addons/holdout_example/
game/dota_addons/last_hit_trainer/
game/dota_addons/lua_ability_example/
game/dota_addons/new_bloom_2017/
game/dota_addons/overthrow/

content/dota_addons/poelsemix1/
content/dota_addons/poelsemix2/
content/dota_addons/rpg_example/
content/dota_addons/ui_example/
content/dota_addons/workshop_testbed/
game/_toolsettings/

content/dota_addons/addon_template/
content/dota_addons/adventure_example/
content/dota_addons/danskpoelse/
content/dota_addons/holdout_example/
content/dota_addons/lua_ability_example/
content/dota_addons/overthrow/

game/dota_addons/poelsemix/scripts/npc/npc_abilities_custom.txt
game/dota_addons/poelsemix/scripts/npc/npc_heroes_custom.txt

game/dota_addons/poelsemix/tools_asset_info.bin
